<!DOCTYPE html>
<html>
<head>
  <title>Plant Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
</head>
<body>
  {% include 'layout/sidebar.html' %}

  <div class="main-content">
    <main>
      {% block content %}{% endblock %}
    </main>

    {% include 'layout/footer.html' %}
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

